{% extends "RegisterUser.html" %}
{% block content %}
    <div class="media-body">
      <h1 id="Details">Hospital Details</h1>
    {% if name=='None' %}
    <p id="sd"> Incorrect Aadhaar Number</p>
    {% else %}
    <p id="sd">{{ name }}</p>
    {% endif %}
    </div>
    <b id="option"> Select a Slot </b> 
  <select name="Slot" id = "myList" onClick="show();">    
         <option> Select </option> 
         <option> 9:00-9:30 </option>  
         <option> 9:30-10:00 </option>  
         <option> 10:00-10:30 </option>  
         <option>  10:30-11:00</option>  
         <option>  11:00-11:30</option>  
         <option> 11:30-12:00 </option> 
    </select>  


{% endblock content %}